.midashi {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 47px;
}

.midashi1 {
  border-bottom: solid 3px #3F51B5;
}

.midashi2 {
  border-bottom: dashed 3px #3F51B5;
}

.midashi3 {
  background-color: #3F51B5;
  color: #fff;
}

.midashi4 {
  background-color: #7385E9;
  color: #fff;
  border-bottom: solid 3px #3F51B5;
  padding: 0 0.5 0 0em;
}

.midashi5 {
  padding: 0.25em 0.5em;
  border-left: solid 6px #3F51B5;
}

.midashi6 {
  background: linear-gradient(transparent 50%, #DCEE39 0);
}

.midashi7 span {
  display: inline-block;
  padding: 3px;
  background-color: #DCEE39;
  margin-top: 8px;
}
.midashi7 span:nth-child(n+2) {
  margin-top: 8px;
}

.midashi8 {
  padding: 3px;
  background-color: #3F51B5;
  color: #fff;
  position: relative;
}
.midashi8::after {
  content: "";
  position: absolute;
  left: 30px;
  top: 100%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 16px 13px 0 13px;
  border-color: #3F51B5 transparent transparent transparent;
}

.midashi9 {
  padding-bottom: 4px;
  border-bottom: solid 2px #3F51B5;
  position: relative;
}
.midashi9::after {
  content: "";
  position: absolute;
  width: 83px;
  height: 2px;
  background: #B53F4F;
  left: 0;
  bottom: 0;
  top: 100%;
}

.midashi10 {
  position: relative;
  padding: 3px 12px;
}
.midashi10::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 16px;
  background: #3F51B5;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.midashi11 {
  position: relative;
  padding-bottom: 17px;
  text-align: center;
}
.midashi11::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 52px;
  bottom: 0;
  left: 50%;
  background: #3F51B5;
  transform: translateX(-50%);
}

.midashi12 {
  position: relative;
  padding-left: 24px;
}
.midashi12::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 24px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url(../assets/img/check.png) no-repeat center center/contain;
}

.midashi13 {
  position: relative;
  padding-right: 30px;
}
.midashi13::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 24px;
}

.midashi15 {
  text-align: center;
  position: relative;
  padding: 0 11px;
}
.midashi15::before .midashi15::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 129px;
  height: 0px;
  background: #3F51B5;
  bottom: 0;
  left: 0;
  transform: translate(-50%);
}